.ludo-board {
  background: url(images/ludo_board.jpg);
  width: 474px;
  height: 474px;
  margin: 20px;
  position: relative;
}

#dice {
  background: url(images/dice.png);
  width: 100px;
  height: 100px;
  margin: 20px;
}

.dice-field {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.player-info {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
}

.game-field {
  display: flex;
  flex-direction: column;
}

.player-style {
  display: flex;
  flex-direction: row;
}

.redButton {
  background: url(images/red.png);
  height: 20px;
  width: 20px;
  position: absolute;
}

.greenButton {
  background: url(images/green.png);
  height: 20px;
  width: 20px;
  position: absolute;
}

.blueButton {
  background: url(images/blue.png);
  height: 20px;
  width: 20px;
  position: absolute;
}

.yellowButton {
  background: url(images/yellow.png);
  height: 20px;
  width: 20px;
  position: absolute;
}
